extends layout

block content

  h1 Genre: #{genre.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Books
    
    dl
      each book in genre_books
        dt 
          a(href=genre.url) #{genre.title}
     

      else
        p This genre has no books
          a(href=genre.url+'/delete') Delete genere
            hr
  p
    a(href=genre.url+'/delete') Delete Book
  p
    a(href=genre.url+'/update') Update Book